<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>Tottem</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/estilos.css">
</head>
<body>
	  <header class="jumbotron-fcm">
	  		<img class="img-thumbnail center-block" src="images/i-header.jpg" alt=""> 	
	  </header>

	<div class="container col-md-8 col-md-offset-2"> 
		
			
					
				<div class="center-block">
					
				<article class="post clearfix"><!--clearfix para no tener problemas con css, post desarmado-->
					<a href="#" class="thumb pull-left">
						<img class="img-thumbnail" src="images/lugares/ciudad.jpg" alt="">
						<h2 class="post-title">
							<a href="#" class="media-heading">Ciudad- San Rafael</a>
						</h2>
						<p class="post-contenido text-justify">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta)</p>
					</a>
					
					<div class="contendedor-botones">
						<a href="#" class="btn btn-lg btn-primary sharp">Alojamientos <span class="badge">274</span></a>
						<a href="#" class="btn btn-lg btn-success sharp">Disponibles <span class="badge">43</span></a>
					</div>
				</article>

				<article class="post clearfix"><!--clearfix para no tener problemas con css, post desarmado-->
					<a href="#" class="thumb pull-left">
						<img class="img-thumbnail" src="images/lugares/valleGrande.jpg" alt="">
						<h2 class="post-title">
							<a href="#" class="media-heading">Valle Grande - San Rafael</a>
						</h2>
						<p class="post-contenido text-justify">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta)</p>
					</a>
					
					<div class="contendedor-botones">
						<a href="#" class="btn btn-lg btn-primary sharp">Alojamientos <span class="badge">34</span></a>
						<a href="#" class="btn btn-lg btn-success sharp">Disponibles <span class="badge">23</span></a>
					</div>
				</article>
				
				<article class="post clearfix"><!--clearfix para no tener problemas con css, post desarmado-->
					<a href="#" class="thumb pull-left">
						<img class="img-thumbnail" src="images/lugares/LosReyunos.jpg" alt="">
						<h2 class="post-title">
							<a href="#">Los Reyunos - San Rafael</a>
						</h2>
						<p class="post-contenido text-justify">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta)</p>
					</a>
					
					<div class="contendedor-botones">
						<a href="#" class="btn btn-lg btn-primary sharp">Alojamientos <span class="badge">23</span></a>
						<a href="#" class="btn btn-lg btn-success sharp">Disponibles <span class="badge">14</span></a>
					</div>
				</article>
				
					<article class="post clearfix"><!--clearfix para no tener problemas con css, post desarmado-->
					<a href="#" class="thumb pull-left">
						<img class="img-thumbnail" src="images/lugares/ElNihuil.jpg" alt="">
						<h2 class="post-title">
							<a href="#">El Nihuil - San Rafael</a>
						</h2>
						<p class="post-contenido text-justify">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta)</p>
					</a>
				
						<div class="contendedor-botones">
						<a href="#" class="btn btn-lg btn-primary sharp">Alojamientos <span class="badge">13</span></a>
						<a href="#" class="btn btn-lg btn-success sharp">Disponibles <span class="badge">4</span></a>	
						</div>
					</article>
				
					</div>
				

				<nav  class="page pagination center-block" aria-label="..."	>
					<div class="center-block">
						<ul class="pagination pagination-lg ">
							  <li class="previous disabled"><a href="#"><span aria-hidden="true">&larr;</span> Anterior</a></li>
							<li class="active"><a href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">4</a></li>
							<li><a href="#">5</a></li>
							<li class="next"><a href="#">Siguiente <span aria-hidden="true">&rarr;</span></a></li>
						</ul>
					</div>
				</nav>


	</div>


	<script type="js/jquery-1.12.1.min.js"></script>
	<script type="js/bootstrap.min.js"></script>
</body>
</html>